pong/.vs/Pong/v16/.suo
pong/.vs/Pong/v16/Browse.VC.db
pong/.vs/Pong/v16/Browse.VC.db-shm
pong/.vs/Pong/v16/Browse.VC.db-wal
pong/.vs/Pong/v16/Browse.VC.opendb
pong/.vs/Pong/v16/ipch/AutoPCH/120a84ab78b2742e/MAIN.ipch
pong/.vs/Pong/v16/ipch/AutoPCH/564a83d79fbc2304/MAIN.ipch
pong/build/main.obj
pong/build/Pong.exe.recipe
pong/build/Pong.iobj
pong/build/Pong.ipdb
pong/build/Pong.log
pong/build/Pong.tlog/CL.command.1.tlog
pong/build/Pong.tlog/CL.read.1.tlog
pong/build/Pong.tlog/CL.write.1.tlog
pong/build/Pong.tlog/link.command.1.tlog
pong/build/Pong.tlog/link.read.1.tlog
pong/build/Pong.tlog/link.write.1.tlog
pong/build/Pong.tlog/Pong.lastbuildstate
pong/build/vc142.pdb
